<!DOCTYPE html>
<html>
<head>
    <title>Selected Patient</title>
</head>
<body>
    <h1>Selected Patient Details</h1>
    <ul>
        <li>
            <strong>ID:</strong> <%= patient._id %><br>
            <strong>Name:</strong> <%= patient.firstName %> <%= patient.lastName %><br>
            <strong>Email:</strong> <%= patient.email %><br>
            <strong>Username:</strong> <%= patient.username %><br>
            <strong>Date of Birth:</strong> <%= patient.dob %><br>
            <strong>Gender:</strong> <%= patient.gender %><br>
            <strong>Mobile:</strong> <%= patient.mobile %><br>
            <strong>Emergency Contact:</strong> <%= patient.emergency %><br>
            <strong>Family:</strong> <%= patient.family %><br>
            <strong>Prescriptions:</strong> <%= patient.prescriptions %><br>
        </li>
    </ul>

    <br><br>
    <button id="healthRecord">View Health Record</button>
    
  
    <img id="healthRecordImage" src="https://www.researchgate.net/profile/Sharon-Allen-10/publication/311554907/figure/fig1/AS:697250980323332@1543248996487/Example-of-Hypothesis-driven-Physical-Examination-musculoskeletal-case-ROM-Range-of.png">
    
    <script>
        const healthRecordButton = document.getElementById('healthRecord');
        const healthRecordImage = document.getElementById('healthRecordImage');
        healthRecordImage.style.display = 'none';

        healthRecordButton.addEventListener('click', function() {
            if (healthRecordImage.style.display === 'none') {
                healthRecordImage.style.display = 'block';
            } else {
                healthRecordImage.style.display = 'none';
            }
        });
    </script>

    <br><br>
    <a href="/doctorHomePage">Return To Home Page</a>
</body>
</html>
